
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>film/detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ film.rasm }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h1>nomi:{{ film.title }}</h1>
                <h1>yili:{{ film.yili }}</h1>
                <h1>davlat:{{ film.davlat }}</h1>
                <h1>davomiyligi:{{ film.davomiyligi }}</h1>
                <p>{{ film.discription }}</p>
                <a class="btn btn-outline-success" href="{{ film.vidio }}">yuklash</a>
            </div>
          </div>
        </div>
      </div>
    <video src="{{ film.vidio }}" controls width="100%"></video>
    <center></center>
</body>
</html>

